<div id="../footer"></div>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section1">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470.96632149359243!2d72.87426126943896!3d19.206966725801742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b737d9c491f9%3A0xc359a4ee309f2e33!2sJacob%20Classes!5e0!3m2!1sen!2sin!4v1753294061994!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="footer-section">
                <h3>Contact us</h3>
                <p><strong>Phone Numbers:</strong></p>
                <p>Jacob Sir(Head of Institute)</p>
                <p><a href="tel:09820524413">9820524413</a></p>
                <p>Sainath Bangera(Admin)</p>
                <p><a href="tel:09867802608">9867802608</a></p>
            </div>
            <div class="footer-section">
                <p><strong>Email:</strong></p>
                <p><a href="mailto:jacobclasses@gmail.com">jacobclasses@gmail.com</a></p>
                <h3>Mumbai</h3>
                <p>JACOB Coaching Classes</p>
                <p>19, 20, Umang Building, Shop Number</p>
                <p> Thakur Village, Kandivali East, Mumbai, MH</p>
                <p>400101</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 JACOB Classes - All rights reserved. | Privacy Policy</p>
        </div>
    </footer>
