<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JC Coaching Classes</title>
    <link rel="stylesheet" href="../style/style.css">
  </head>
    <body>
      <header class="header">
    <div class="nav-container">
      <div class="logo">
        <div class="logo-circle">JC</div>
        Coaching Classes
      </div>
      <button class="burger" id="burger" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav>
        <ul class="nav-menu" id="nav-menu">
          <li><a href="home.html">HOME</a></li>
          <li><a href="Topper.html">TOPPERS</a></li>
          <li><a href="onlineResource.html">ONLINE RESOURCE</a></li>
          <li><a href="#blog">BLOG</a></li>
          <li><a href="signup.html">CONTACT US</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <script src="../js/script.js"></script>
    </body>
</html>

    

